# Lesson 3 Class Exercises: Pandas Part 1

With these class exercises we learn a few new things.  When new knowledge is introduced you'll see the icon shown on the right: 
<span style="float:right; margin-left:10px; clear:both;">![Task](../media/new_knowledge.png)</span>

## Reminder
The first checkin-in of the project is due next Tueday.  After today, you should have everything you need to know to accomplish that first part.

## Get Started
Import the Numpy and Pandas packages

In [2]:
import pandas as pd
import numpy as np

## Exercise 1: Import Iris Data
Import the Iris dataset made available to you in the last class period for the Numpy part2 exercises. Save it to a variable naemd `iris`. Print the first 5 rows and the dimensions to ensure it was read in properly.

In [3]:
iris = pd.read_csv("data/iris.csv")
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

Notice how much easier this was to import compared to the Numpy `genfromtxt`. We did not have to skip the headers, we did not have to specify the data type and we can have mixed data types in the same matrix.

## Exercise 2: Import Legislators Data
For portions of this notebook we will use a public dataset that contains all of the current legistators of the United States Congress. This dataset can be found [here](https://github.com/unitedstates/congress-legislators).  

Import the data directly from this URL:  https://theunitedstates.io/congress-legislators/legislators-current.csv

Save the data in a variable named `legistators`. Print the first 5 lines, and the dimensions. You can get the dimensions of the dataframe using the `.shape` member variable.

In [4]:
legislators = pd.read_csv('https://theunitedstates.io/congress-legislators/legislators-current.csv')
legislators

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
0,Brown,Sherrod,NaN,NaN,NaN,Sherrod Brown,1952-11-09,M,sen,OH,...,N00003535,S307,"H2OH13033,S6OH00163",5051.0,400050,27018.0,Sherrod Brown,NaN,29389.0,Sherrod Brown
1,Cantwell,Maria,NaN,NaN,NaN,Maria Cantwell,1958-10-13,F,sen,WA,...,N00007836,S275,"S8WA00194,H2WA01054",26137.0,300018,27122.0,Maria Cantwell,NaN,39310.0,Maria Cantwell
2,Cardin,Benjamin,L.,NaN,NaN,Benjamin L. Cardin,1943-10-05,M,sen,MD,...,N00001955,S308,"H6MD03177,S6MD03177",4004.0,400064,26888.0,Ben Cardin,NaN,15408.0,Ben Cardin
3,Carper,Thomas,Richard,NaN,NaN,Thomas R. Carper,1947-01-23,M,sen,DE,...,N00012508,S277,S8DE00079,663.0,300019,22421.0,Tom Carper,NaN,15015.0,Tom Carper
4,Casey,Robert,P.,Jr.,Bob,"Robert P. Casey, Jr.",1960-04-13,M,sen,PA,...,N00027503,S309,S6PA00217,47036.0,412246,2541.0,"Bob Casey, Jr.",NaN,40703.0,Bob Casey Jr.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,Balint,Becca,A.,NaN,NaN,Becca Balint,1968-05-04,F,rep,VT,...,NaN,NaN,H2VT01076,NaN,456948,NaN,NaN,NaN,NaN,Becca Balint
536,Gluesenkamp Perez,Marie,NaN,NaN,NaN,Marie Gluesenkamp Perez,1988-06-06,F,rep,WA,...,NaN,NaN,H2WA03217,NaN,456949,NaN,Marie Gluesenkamp Perez,NaN,NaN,Marie Gluesenkamp Perez
537,Van Orden,Derrick,Francis,NaN,NaN,Derrick Van Orden,1969-09-15,M,rep,WI,...,NaN,NaN,H0WI03175,NaN,456950,NaN,Derrick Van Orden,NaN,NaN,Derrick Van Orden
538,Hageman,Harriet,Maxine,NaN,NaN,Harriet M. Hageman,1962-10-18,F,rep,WY,...,NaN,NaN,H2WY00166,NaN,456951,NaN,Harriet Hageman,NaN,NaN,Harriet Hageman
539,Ricketts,Pete,NaN,NaN,NaN,Pete Ricketts,1964-08-19,M,sen,NE,...,NaN,S423,S6NE00129,61233.0,456952,57777.0,Pete Ricketts,NaN,NaN,Pete Ricketts

## Exercise 3: Explore the Data
### Task 1
Print the column names of the legistators dataframe and explore the type of data in the data frame.

In [5]:
legislators.columns

Index(['last_name', 'first_name', 'middle_name', 'suffix', 'nickname',
       'full_name', 'birthday', 'gender', 'type', 'state', 'district',
       'senate_class', 'party', 'url', 'address', 'phone', 'contact_form',
       'rss_url', 'twitter', 'twitter_id', 'facebook', 'youtube', 'youtube_id',
       'mastodon', 'bioguide_id', 'thomas_id', 'opensecrets_id', 'lis_id',
       'fec_ids', 'cspan_id', 'govtrack_id', 'votesmart_id', 'ballotpedia_id',
       'washington_post_id', 'icpsr_id', 'wikipedia_id'],
      dtype='object')

### Task 2
Show the data types of all of the columns in the legislator data. To do this, use the `.dtype` member variable. Do all of the data types seem appropriate for the data?

In [7]:
legislators.dtypes

last_name              object
first_name             object
middle_name            object
suffix                 object
nickname               object
full_name              object
birthday               object
gender                 object
type                   object
state                  object
district              float64
senate_class          float64
party                  object
url                    object
address                object
phone                  object
contact_form           object
rss_url                object
twitter                object
twitter_id            float64
facebook               object
youtube                object
youtube_id             object
mastodon               object
bioguide_id            object
thomas_id             float64
opensecrets_id         object
lis_id                 object
fec_ids                object
cspan_id              float64
govtrack_id             int64
votesmart_id          float64
ballotpedia_id         object
washington_post_id    float64
icpsr_id              float64
wikipedia_id           object
dtype: object

Show all of the data types in the iris dataframe. To do this, use the `.dtype` member variable.

In [8]:
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

### Task 3
It's always important to know where the missing values are in your data. Are there any missing values in the legislators dataframe? How many per column?  

Hint: we didn't learn how to find missing values in the lesson, but we can use the `isna()` function.

In [11]:
legislators.isna()
# To see how many there are per columns you do 
legislators.isna().sum()

last_name               0
first_name              0
middle_name           266
suffix                520
nickname              506
full_name               0
birthday                0
gender                  0
type                    0
state                   0
district              100
senate_class          440
party                   0
url                     4
address                 0
phone                   0
contact_form          441
rss_url               337
twitter                44
twitter_id             44
facebook              235
youtube               325
youtube_id            259
mastodon              525
bioguide_id             0
thomas_id             267
opensecrets_id         80
lis_id                440
fec_ids                 0
cspan_id              224
govtrack_id             0
votesmart_id          124
ballotpedia_id        101
washington_post_id    540
icpsr_id              156
wikipedia_id            3
dtype: int64

How about in the iris dataframe?

### Task 4
It is also important to know if you have any duplicatd rows. If you are performing statistcal analyses and you have duplicated entries they can affect the results.  So, let's find out.  Are there any duplicated rows in the legislators dataframe?  Print then number of duplicates. If there are duplicates print the rows. What function could we used to find out if we have duplicated rows?

In [13]:
legislators.duplicated().sum()

0

Do we have duplicated rows in the iris dataset? Print the number of duplicates? If there are duplicates print the rows.

In [14]:
iris[iris.duplicated()]

     sepal_length  sepal_width  petal_length  petal_width    species
34            4.9          3.1           1.5          0.1     setosa
37            4.9          3.1           1.5          0.1     setosa
142           5.8          2.7           5.1          1.9  virginica

In [16]:
legislators.nunique()

last_name             490
first_name            330
middle_name           131
suffix                  5
nickname               27
full_name             539
birthday              524
gender                  2
type                    2
state                  56
district               53
senate_class            3
party                   3
url                   536
address               540
phone                 540
contact_form           99
rss_url               203
twitter               496
twitter_id            496
facebook              305
youtube               215
youtube_id            281
mastodon               15
bioguide_id           540
thomas_id             273
opensecrets_id        460
lis_id                100
fec_ids               540
cspan_id              316
govtrack_id           540
votesmart_id          416
ballotpedia_id        439
washington_post_id      0
icpsr_id              384
wikipedia_id          537
dtype: int64

If there are duplicated rows should we remove them or keep them?

### Task 5
It is important to also check that the range of values in our data matches expectations.  For example, if we expect to have four species in our iris data, we should check that we see four species. How many political parties should we expect in the legislators data?  If all we saw were a single part perhaps the data is incomplete.... Let's check.   You can find out how many unique values there are per column using the `nunique` function.  Try it for both the legislators and the iris data set.

In [18]:
iris.nunique() # these are only unique values

sepal_length    35
sepal_width     23
petal_length    43
petal_width     22
species          3
dtype: int64

What do you think?  Do we see what we might expect?  Are there fields where this type of check doesn't matter? In what fields might this type of exploration matter?

Check to see if you have all of the values expected for a given field. Pick a column you know should have a set number of values and print all of the unique values in that column. Do so for both the legislator and iris datasets.

## Exercise 5: Describe the data
For both the legislators and the iris data, get descriptive statistics for each numeric field.

In [19]:
legislators.describe()

,district,senate_class,twitter_id,thomas_id,cspan_id,govtrack_id,votesmart_id,washington_post_id,icpsr_id
count,440.000000,100.000000,4.960000e+02,273.000000,3.160000e+02,540.000000,416.000000,0.0,384.000000
mean,10.000000,2.010000,5.523630e+17,1777.604396,5.404181e+05,419679.190741,79067.747596,NaN,24443.937500
std,10.609447,0.822598,6.325782e+17,525.327073,1.467612e+06,29906.618384,64167.400229,NaN,7071.454271
min,0.000000,1.000000,5.558312e+06,91.000000,2.600000e+02,300018.000000,142.000000,NaN,14226.000000
25%,3.000000,1.000000,2.397612e+08,1676.000000,4.591650e+04,412302.500000,22950.500000,NaN,21117.500000
50%,6.000000,2.000000,2.952774e+09,1929.000000,7.969300e+04,412671.000000,57955.000000,NaN,21701.500000
75%,13.000000,3.000000,1.082318e+18,2138.000000,1.003552e+06,456807.250000,136278.750000,NaN,21977.250000
max,52.000000,3.000000,1.612865e+18,2296.000000,9.275683e+06,456952.000000,210545.000000,NaN,49703.000000

## Exercise 6: Row Index Labels
For the legislator dataframe, let's change the row labels from numerical indexes to something more recognizable.  Take a look at the columns of data, is there anything you might want to substitue as a row label?  Pick one and set the index lables. Then print the top 5 rows to see if the index labels are present.

In [21]:
legislators.index = legislators['state']
legislators.head()

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
state,,,,,,,,,,,,,,,,,,,,,
OH,Brown,Sherrod,NaN,NaN,NaN,Sherrod Brown,1952-11-09,M,sen,OH,...,N00003535,S307,"H2OH13033,S6OH00163",5051.0,400050,27018.0,Sherrod Brown,NaN,29389.0,Sherrod Brown
WA,Cantwell,Maria,NaN,NaN,NaN,Maria Cantwell,1958-10-13,F,sen,WA,...,N00007836,S275,"S8WA00194,H2WA01054",26137.0,300018,27122.0,Maria Cantwell,NaN,39310.0,Maria Cantwell
MD,Cardin,Benjamin,L.,NaN,NaN,Benjamin L. Cardin,1943-10-05,M,sen,MD,...,N00001955,S308,"H6MD03177,S6MD03177",4004.0,400064,26888.0,Ben Cardin,NaN,15408.0,Ben Cardin
DE,Carper,Thomas,Richard,NaN,NaN,Thomas R. Carper,1947-01-23,M,sen,DE,...,N00012508,S277,S8DE00079,663.0,300019,22421.0,Tom Carper,NaN,15015.0,Tom Carper
PA,Casey,Robert,P.,Jr.,Bob,"Robert P. Casey, Jr.",1960-04-13,M,sen,PA,...,N00027503,S309,S6PA00217,47036.0,412246,2541.0,"Bob Casey, Jr.",NaN,40703.0,Bob Casey Jr.

In [22]:
legislators.loc['OH']

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
state,,,,,,,,,,,,,,,,,,,,,
OH,Brown,Sherrod,NaN,NaN,NaN,Sherrod Brown,1952-11-09,M,sen,OH,...,N00003535,S307,"H2OH13033,S6OH00163",5051.0,400050,27018.0,Sherrod Brown,NaN,29389.0,Sherrod Brown
OH,Johnson,Bill,NaN,NaN,NaN,Bill Johnson,1954-11-10,M,rep,OH,...,N00032088,NaN,H0OH06189,623472.0,412460,120649.0,Bill Johnson (Ohio),NaN,21162.0,Bill Johnson (Ohio politician)
OH,Jordan,Jim,NaN,NaN,NaN,Jim Jordan,1964-02-17,M,rep,OH,...,N00027894,NaN,H6OH04082,1022879.0,412226,8158.0,Jim Jordan,NaN,20738.0,Jim Jordan (American politician)
OH,Kaptur,Marcy,NaN,NaN,NaN,Marcy Kaptur,1946-06-17,F,rep,OH,...,N00003522,NaN,H2OH09031,1458.0,400211,27016.0,Marcy Kaptur,NaN,15029.0,Marcy Kaptur
OH,Latta,Robert,E.,NaN,NaN,Robert E. Latta,1956-04-18,M,rep,OH,...,N00012233,NaN,H8OH05036,1028071.0,412256,9926.0,Robert E. Latta,NaN,20755.0,Bob Latta
OH,Turner,Michael,R.,NaN,NaN,Michael R. Turner,1960-01-11,M,rep,OH,...,N00025175,NaN,"H2OH03067,H2OH03091",1003607.0,400411,45519.0,Michael R. Turner,NaN,20342.0,Mike Turner
OH,Wenstrup,Brad,R.,NaN,NaN,Brad R. Wenstrup,1958-06-17,M,rep,OH,...,N00033310,NaN,H2OH02085,1034044.0,412564,135326.0,Brad Wenstrup,NaN,21351.0,Brad Wenstrup
OH,Beatty,Joyce,NaN,NaN,NaN,Joyce Beatty,1950-03-12,F,rep,OH,...,N00033904,NaN,H2OH03125,67294.0,412565,2427.0,Joyce Beatty,NaN,21352.0,Joyce Beatty
OH,Joyce,David,P.,NaN,NaN,David P. Joyce,1957-03-17,M,rep,OH,...,N00035007,NaN,H2OH14064,68561.0,412566,143052.0,David Joyce,NaN,21353.0,David Joyce (politician)
OH,Davidson,Warren,NaN,NaN,NaN,Warren Davidson,1970-03-01,M,rep,OH,...,N00038767,NaN,H6OH08315,102555.0,412675,166760.0,Warren Davidson,NaN,21564.0,Warren Davidson
OH,Balderson,Troy,NaN,NaN,NaN,Troy Balderson,1962-01-16,M,rep,OH,...,N00042194,NaN,H8OH12180,NaN,412747,102781.0,Troy Balderson,NaN,21759.0,Troy Balderson
OH,Brown,Shontel,M.,NaN,NaN,Shontel M. Brown,1975-06-24,F,rep,OH,...,N00047875,NaN,H2OH11169,NaN,456863,NaN,NaN,NaN,NaN,Shontel Brown
OH,Carey,Mike,NaN,NaN,NaN,Mike Carey,1971-03-13,M,rep,OH,...,N00048568,NaN,H2OH15228,NaN,456864,NaN,NaN,NaN,NaN,Mike Carey (politician)
OH,Vance,J.D. (James),(David),NaN,NaN,J.D. Vance,1984-08-02,M,sen,OH,...,NaN,S421,S2OH00436,NaN,456876,NaN,J.D. Vance,NaN,NaN,J. D. Vance
OH,Landsman,Greg,John,NaN,NaN,Greg Landsman,1976-12-04,M,rep,OH,...,NaN,NaN,H2OH01194,NaN,456928,NaN,NaN,NaN,NaN,Greg Landsman (politician)
OH,Miller,Max,Leonard,NaN,NaN,Max L. Miller,1988-11-13,M,rep,OH,...,NaN,NaN,H2OH16051,NaN,456929,NaN,NaN,NaN,NaN,Max Miller (politician)
OH,Sykes,Emilia,Strong,NaN,NaN,Emilia Strong Sykes,1986-01-04,F,rep,OH,...,NaN,NaN,H2OH13264,NaN,456930,NaN,NaN,NaN,NaN,Emilia Sykes

## Exercise 7: Indexing & Sampling
Randomly select 15 Republicans or Democrats (your choice) from the senate.

In [28]:
legislators.index = legislators['type']
legislators.loc['sen'].sample(15)

legislators[(legislators["party"]== "Democrat") & (legislators["type"]== "sen")].sample(15)

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
type,,,,,,,,,,,,,,,,,,,,,
sen,Fetterman,John,Karl,NaN,NaN,John Fetterman,1969-08-15,M,sen,PA,...,NaN,S418,S6PA00274,NaN,456877,166286.0,John Fetterman,NaN,NaN,John Fetterman
sen,Smith,Tina,Flint,NaN,NaN,Tina Smith,1958-03-04,F,sen,MN,...,N00042353,S394,S8MN00578,111313.0,412742,152968.0,Tina Smith,NaN,41706.0,Tina Smith
sen,LujÃ¡n,Ben,Ray,NaN,NaN,Ben Ray LujÃ¡n,1972-06-07,M,sen,NM,...,N00029562,S409,"H8NM03196,S0NM00058",1031351.0,412293,102842.0,Ben Ray LujÃ¡n,NaN,20932.0,Ben Ray LujÃ¡n
sen,Schatz,Brian,Emanuel,NaN,NaN,Brian Schatz,1972-10-20,M,sen,HI,...,N00028138,S353,"S4HI00136,H6HI02244",87784.0,412507,17852.0,Brian E. Schatz,NaN,41112.0,Brian Schatz
sen,Heinrich,Martin,NaN,NaN,NaN,Martin Heinrich,1971-10-17,M,sen,NM,...,N00029835,S359,"H8NM01224,S2NM00088",1030686.0,412281,74517.0,Martin Heinrich,NaN,20930.0,Martin Heinrich
sen,Brown,Sherrod,NaN,NaN,NaN,Sherrod Brown,1952-11-09,M,sen,OH,...,N00003535,S307,"H2OH13033,S6OH00163",5051.0,400050,27018.0,Sherrod Brown,NaN,29389.0,Sherrod Brown
sen,Bennet,Michael,F.,NaN,NaN,Michael F. Bennet,1964-11-28,M,sen,CO,...,N00030608,S330,S0CO00211,1031622.0,412330,110942.0,Michael Bennet,NaN,40910.0,Michael Bennet
sen,Cantwell,Maria,NaN,NaN,NaN,Maria Cantwell,1958-10-13,F,sen,WA,...,N00007836,S275,"S8WA00194,H2WA01054",26137.0,300018,27122.0,Maria Cantwell,NaN,39310.0,Maria Cantwell
sen,Casey,Robert,P.,Jr.,Bob,"Robert P. Casey, Jr.",1960-04-13,M,sen,PA,...,N00027503,S309,S6PA00217,47036.0,412246,2541.0,"Bob Casey, Jr.",NaN,40703.0,Bob Casey Jr.
sen,Wyden,Ron,NaN,NaN,NaN,Ron Wyden,1949-05-03,M,sen,OR,...,N00007724,S247,"S6OR00110,H0OR03026",1962.0,300100,27036.0,Ron Wyden,NaN,14871.0,Ron Wyden
sen,Kaine,Timothy,NaN,NaN,Tim,Tim Kaine,1958-02-26,M,sen,VA,...,N00033177,S362,S2VA00142,49219.0,412582,50772.0,Tim Kaine,NaN,41305.0,Tim Kaine
sen,Warner,Mark,R.,NaN,NaN,Mark R. Warner,1954-12-15,M,sen,VA,...,N00002097,S327,"S6VA00093,P80003023",7630.0,412321,535.0,Mark Warner,NaN,40909.0,Mark Warner
sen,Duckworth,Tammy,NaN,NaN,NaN,Tammy Duckworth,1968-03-12,F,sen,IL,...,N00027860,S386,"H6IL06141,S6IL00292",94484.0,412533,57442.0,Tammy Duckworth,NaN,21325.0,Tammy Duckworth
sen,Kelly,Mark,NaN,NaN,NaN,Mark Kelly,1964-02-21,M,sen,AZ,...,N00044223,S406,S0AZ00350,NaN,456794,190594.0,Mark Kelly,NaN,NaN,Mark Kelly
sen,Blumenthal,Richard,NaN,NaN,NaN,Richard Blumenthal,1946-02-13,M,sen,CT,...,N00031685,S341,S0CT00177,21799.0,412490,1568.0,Richard Blumenthal,NaN,41101.0,Richard Blumenthal

## Exercise 8: Dates
<span style="float:right; margin-left:10px; clear:both;">![Task](../media/new_knowledge.png)</span>
Let's learn something not covered in the Pandas 1 lesson regarding dates.  We have the birthdates for each legislator, but they are in a String format.  Let's convert it to a datetime object. We can do this using the `pd.to_datetime` function.  Take a look at the online documentation to see how to use this function. Convert the `legislators['birthday']` column to a `datetime` object. Confirm that the column is now a datetime object.

In [29]:
legislators['birthday'] = pd.to_datetime(legislators['birthday'])

Now that we have the birthdays in a `datetime` object, how can we calculate their age?  Hint: we can use the `pd.Timestamp.now()` function to get a datetime object for this moment. Let's subtract the current time from their birthdays.  Print the top 5 results.

Notice that the result of subtracting two `datetime` objects is a `timedelta` object. It contains the difference between two time values. The value we calculated therefore gives us the number of days old.  However, we want the number of years. 

To get the number of years we can divide the number of days old by the number of days in a year (i.e. 365). However, we need to extract out the days from the `datetime` object. To get this, the Pandas Series object has an accessor for extracting components of `datetime` objects and `timedelta` objects. It's named `dt` and it works for both.  You can learn more about the attributes of this accessor at the [datetime objects page](https://pandas.pydata.org/pandas-docs/stable/reference/series.html#datetime-properties) and the [timedelta objects page](https://pandas.pydata.org/pandas-docs/stable/reference/series.html#timedelta-properties) by clicking.  Take a moment to look over that documentation.

How would then extract the days in order to divide by 365 to get the years?  Once you've figurd it out. Do so, convert the years to an integer and add the resulting series back into the legislator dataframe as a new column named `age`.  Hint: use the [astype](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.astype.html) function of Pandas to convert the type.

Next, find the youngest, oldest and average age of all legislators

Who are the oldest and youngest legislators?

## Exercise 9:  Indexing with loc and iloc
Reindex the legislators dataframe using the state, and find all legislators from a state of your choice using the `loc` accessor.

In [36]:
legislators.index = legislators['state']
legislators.loc['WA']

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
state,,,,,,,,,,,,,,,,,,,,,
WA,Cantwell,Maria,NaN,NaN,NaN,Maria Cantwell,1958-10-13,F,sen,WA,...,N00007836,S275,"S8WA00194,H2WA01054",26137.0,300018,27122.0,Maria Cantwell,NaN,39310.0,Maria Cantwell
WA,Larsen,Rick,NaN,NaN,NaN,Rick Larsen,1965-06-15,M,rep,WA,...,N00009759,NaN,H0WA02080,86610.0,400232,56231.0,Rick Larsen,NaN,20145.0,Rick Larsen
WA,McMorris Rodgers,Cathy,Anne,NaN,NaN,Cathy McMorris Rodgers,1969-05-22,F,rep,WA,...,N00026314,NaN,H4WA05077,1013063.0,400659,3217.0,Cathy McMorris Rodgers,NaN,20535.0,Cathy McMorris Rodgers
WA,Murray,Patty,NaN,NaN,NaN,Patty Murray,1950-10-11,F,sen,WA,...,N00007876,S229,S2WA00189,25277.0,300076,53358.0,Patty Murray,NaN,49308.0,Patty Murray
WA,Smith,Adam,NaN,NaN,NaN,Adam Smith,1965-06-15,M,rep,WA,...,N00007833,NaN,H6WA09025,44329.0,400379,845.0,Adam Smith,NaN,29768.0,Adam Smith (Washington politician)
WA,DelBene,Suzan,K.,NaN,NaN,Suzan K. DelBene,1962-02-17,F,rep,WA,...,N00030693,NaN,H0WA08046,1033929.0,412505,126272.0,Suzan DelBene,NaN,31101.0,Suzan DelBene
WA,Kilmer,Derek,NaN,NaN,NaN,Derek Kilmer,1974-01-01,M,rep,WA,...,N00034453,NaN,H2WA06129,68310.0,412583,51516.0,Derek Kilmer,NaN,21368.0,Derek Kilmer
WA,Newhouse,Dan,NaN,NaN,NaN,Dan Newhouse,1955-07-10,M,rep,WA,...,N00036403,NaN,H4WA04104,78315.0,412660,51522.0,Dan Newhouse,NaN,21556.0,Dan Newhouse
WA,Jayapal,Pramila,NaN,NaN,NaN,Pramila Jayapal,1965-09-21,F,rep,WA,...,N00038858,NaN,H6WA07458,9267128.0,412730,153141.0,Pramila Jayapal,NaN,21726.0,Pramila Jayapal
WA,Schrier,Kim,NaN,NaN,NaN,Kim Schrier,1968-08-23,F,rep,WA,...,N00041606,NaN,H8WA08189,NaN,412835,181124.0,Kim Schrier,NaN,21962.0,Kim Schrier
WA,Strickland,Marilyn,NaN,NaN,NaN,Marilyn Strickland,1962-09-25,F,rep,WA,...,N00046320,NaN,H0WA10034,NaN,456854,NaN,NaN,NaN,NaN,Marilyn Strickland
WA,Gluesenkamp Perez,Marie,NaN,NaN,NaN,Marie Gluesenkamp Perez,1988-06-06,F,rep,WA,...,NaN,NaN,H2WA03217,NaN,456949,NaN,Marie Gluesenkamp Perez,NaN,NaN,Marie Gluesenkamp Perez

Use the loc command to find all legislators from South Carolina and North Carolina

In [37]:
legislators.loc[['NC','SC']]

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
state,,,,,,,,,,,,,,,,,,,,,
NC,Foxx,Virginia,NaN,NaN,NaN,Virginia Foxx,1943-06-29,F,rep,NC,...,N00026166,NaN,H4NC05146,1013052.0,400643,6051.0,Virginia Foxx,NaN,20521.0,Virginia Foxx
NC,McHenry,Patrick,T.,NaN,NaN,Patrick T. McHenry,1975-10-22,M,rep,NC,...,N00026627,NaN,H4NC10047,1007062.0,400644,21031.0,Patrick T. McHenry,NaN,20522.0,Patrick McHenry
NC,Hudson,Richard,NaN,NaN,NaN,Richard Hudson,1971-11-04,M,rep,NC,...,N00033630,NaN,H2NC08185,79622.0,412550,136448.0,Richard Hudson,NaN,21346.0,Richard Hudson (American politician)
NC,Adams,Alma,S.,NaN,NaN,Alma S. Adams,1946-05-27,F,rep,NC,...,N00035451,NaN,H4NC12100,76386.0,412607,5935.0,Alma Adams,NaN,21545.0,Alma Adams
NC,Rouzer,David,NaN,NaN,NaN,David Rouzer,1972-02-16,M,rep,NC,...,N00033527,NaN,H2NC07096,79710.0,412641,102964.0,David Rouzer,NaN,21544.0,David Rouzer
NC,Tillis,Thom,NaN,NaN,NaN,Thom Tillis,1960-08-30,M,sen,NC,...,N00035492,S384,S4NC00162,77055.0,412668,57717.0,Thom Tillis (North Carolina),NaN,41504.0,Thom Tillis
NC,Budd,Ted,NaN,NaN,NaN,Ted Budd,1971-10-21,M,sen,NC,...,N00039551,S417,H6NC13129,103513.0,412712,171489.0,Ted Budd,NaN,21708.0,Ted Budd
NC,Bishop,Dan,NaN,NaN,NaN,Dan Bishop,1964-07-01,M,rep,NC,...,N00044335,NaN,H0NC09187,NaN,412844,92423.0,Dan Bishop,NaN,21986.0,Dan Bishop
NC,Murphy,Gregory,Francis,NaN,NaN,Gregory F. Murphy,1963-03-05,M,rep,NC,...,N00044027,NaN,H0NC03172,NaN,412845,166135.0,Gregory Murphy,NaN,21987.0,Greg Murphy (politician)
NC,Ross,Deborah,Koff,NaN,NaN,Deborah K. Ross,1963-06-20,F,rep,NC,...,N00038565,NaN,H0NC02125,NaN,456831,NaN,Deborah Ross,NaN,NaN,Deborah K. Ross
NC,Manning,Kathy,Ellen,NaN,NaN,Kathy E. Manning,1956-12-03,F,rep,NC,...,N00042159,NaN,H8NC13067,NaN,456832,NaN,NaN,NaN,NaN,Kathy Manning
NC,Davis,Donald,Gene,NaN,NaN,Donald G. Davis,1971-08-29,M,rep,NC,...,NaN,NaN,H2NC02287,NaN,456912,NaN,NaN,NaN,NaN,Donald G. Davis
NC,Foushee,Valerie,Jean,NaN,NaN,Valerie P. Foushee,1956-05-07,F,rep,NC,...,NaN,NaN,H2NC06114,NaN,456913,NaN,NaN,NaN,NaN,Valerie Foushee
NC,Edwards,Charles (Chuck),Marion,NaN,NaN,Chuck Edwards,1960-09-13,M,rep,NC,...,NaN,NaN,H2NC14050,NaN,456914,NaN,NaN,NaN,NaN,Chuck Edwards
NC,Nickel,George,Wiley (uses as 1st),III,NaN,Wiley Nickel,1975-11-23,M,rep,NC,...,NaN,NaN,H2NC14019,NaN,456915,NaN,NaN,NaN,NaN,Wiley Nickel
NC,Jackson,Jeffrey,Neale,NaN,NaN,Jeff Jackson,1982-09-12,M,rep,NC,...,NaN,NaN,H2NC14076,NaN,456916,NaN,NaN,NaN,NaN,Jeff Jackson (politician)
SC,Graham,Lindsey,O.,NaN,NaN,Lindsey Graham,1955-07-09,M,sen,SC,...,N00009975,S293,"S0SC00149,H4SC03087",36782.0,300047,21992.0,Lindsey Graham,NaN,29566.0,Lindsey Graham
SC,Clyburn,James,E.,NaN,Jim,James E. Clyburn,1940-07-21,M,rep,SC,...,N00002408,NaN,H2SC02042,21607.0,400075,27066.0,James E. Clyburn,NaN,39301.0,Jim Clyburn
SC,Duncan,Jeff,NaN,NaN,NaN,Jeff Duncan,1966-01-07,M,rep,SC,...,N00030752,NaN,H0SC03077,62713.0,412472,47967.0,Jeff Duncan,NaN,21174.0,Jeff Duncan (politician)
SC,Scott,Tim,NaN,NaN,NaN,Tim Scott,1965-09-19,M,sen,SC,...,N00031782,S365,"H0SC01279,S4SC00240",623506.0,412471,11940.0,Tim Scott,NaN,21173.0,Tim Scott
SC,Wilson,Joe,G.,NaN,NaN,Joe Wilson,1947-07-31,M,rep,SC,...,N00024809,NaN,H2SC02059,1002567.0,400433,3985.0,Joe Wilson,NaN,20138.0,Joe Wilson (American politician)
SC,Norman,Ralph,NaN,NaN,NaN,Ralph Norman,1953-06-20,M,rep,SC,...,N00027783,NaN,H8SC05158,61996.0,412738,47930.0,Ralph Norman,NaN,21753.0,Ralph Norman
SC,Timmons,William,R.,NaN,NaN,William R. Timmons IV,1984-04-30,M,rep,SC,...,N00042715,NaN,H8SC04250,NaN,412815,168923.0,William Timmons,NaN,21974.0,William Timmons
SC,Mace,Nancy,Ruth,NaN,NaN,Nancy Mace,1977-12-04,F,rep,SC,...,N00035670,NaN,H0SC01394,NaN,456843,NaN,Nancy Mace,NaN,NaN,Nancy Mace
SC,Fry,Russell,William,NaN,NaN,Russell Fry,1985-01-31,M,rep,SC,...,NaN,NaN,H2SC07280,NaN,456938,NaN,NaN,NaN,NaN,Russell Fry (politician)

In [45]:
legislators.loc[['CA', 'OR', 'WA']][['full_name', 'state', 'party']]



#legislators.loc[['CA','OR','WA']][['first_name','state','age']]

                     full_name state       party
state
CA            Dianne Feinstein    CA    Democrat
CA                 Ken Calvert    CA  Republican
CA                    Judy Chu    CA    Democrat
CA                   Jim Costa    CA    Democrat
CA               Anna G. Eshoo    CA    Democrat
...                        ...   ...         ...
WA                Dan Newhouse    WA  Republican
WA             Pramila Jayapal    WA    Democrat
WA                 Kim Schrier    WA    Democrat
WA          Marilyn Strickland    WA    Democrat
WA     Marie Gluesenkamp Perez    WA    Democrat

[74 rows x 3 columns]

In [41]:
legislators.loc[['CA','OR','WA']][['first_name','state','age]]

SyntaxError: EOL while scanning string literal (1132488479.py, line 1)

Use the loc command to retrieve all legislators from California, Oregon and Washington and only get their full name, state, party and age

## Exercise 10: Economics Data Example
### Task 1: Explore the data
Import the data from the [Lectures in Quantiatives Economics](https://github.com/QuantEcon/lecture-source-py) regarding minimum wages in countries round the world in US Dollars.  You can view the data [here](https://github.com/QuantEcon/lecture-source-py/blob/master/source/_static/lecture_specific/pandas_panel/realwage.csv) and you can access the data file here: https://raw.githubusercontent.com/QuantEcon/lecture-source-py/master/source/_static/lecture_specific/pandas_panel/realwage.csv.  Then perform the following

Import and print the first 5 lines of data to explore what is there.

Find the shape of the data.

List the column names.

Identify the data types. Do they match what you would expect?

Identify columns with missing values.

Identify if there are duplicated entires.

How many unique values per row are there.  Do these look reasonable for the data type and what you know about what is stored in the column?

### Task 2: Explore More
Retrieve descriptive statistics for the data.

Identify all of the countries listed in the data.

Convert the time column to a datetime object.

Identify the time points that were used for data collection. How many years of data collection were there? What time of year were the data collected?

Because we only have one data point collected per year per country, simplify this by creating a new `Series` with just the year.  Print the first 5 rows to confirm the column was added.

There are two pay periods.  Retrieve them in a list of just the two strings

### Task 3: Clean the data
We have no duplicates in this data so we do not need to consider removing those, but we do have missing values in the `value` column. Lets remove those.  Check the dimensions afterwards to make sure they rows with missing values are gone.

### Task 4:  Indexing
Use boolean indexing to retrieve the rows of annual salary in United States

Do we have enough data to calculate descriptive statistics for annual salary in the United States in 2016?

Use loc to calculate descriptive statistics for the hourly salary in the United States and then again separately for Ireland. Hint: you will have to set row indexes.

Now do the same for Annual salary