# Lesson 5 Class Exercises: Tidy Data

With these class exercises we learn a few new things.  When new knowledge is introduced you'll see the icon shown on the right: 
<span style="float:right; margin-left:10px; clear:both;">![Task](https://github.com/spficklin/Data-Analytics-With-Python/blob/master/media/new_knowledge.png?raw=true)</span>

## Tidy Summary:
### Rules for Tidy data
+ Each variable forms a unique column in the data frame.
+ Each observation forms a row in the data frame.
+ Each **type** of observational unit needs its own table.

### Spotting messy data
1. Column headers are values, not variable names.
2. Multiple variables are stored in one column.
3. Variables are stored in both rows and columns.
4. Multiple types of observational units are stored in the same table.
5. A single observational unit is stored in multiple tables.

## Get Started
Import the Numpy and Pandas packages

## Exercise 1:  Review of Tidy Practice
### Task 1: Task 3b from the Practice Notebook
Download the [PI_DataSet.txt](https://hivdb.stanford.edu/download/GenoPhenoDatasets/PI_DataSet.txt) file from [HIV Drug Resistance Database](https://hivdb.stanford.edu/pages/genopheno.dataset.html). Store the file in the same directory as the practice notebook for this assignment.

Here is the meaning of data columns:
- SeqID:  a numeric identifier for a unique HIV isolate protease sequence.  Note: disruption of the protease inhibits HIV’s ability to reproduce.
- The Next 8 columns are identifiers for unique protease inhibitor class drugs.  
  - The values in these columns are the fold resistance over wild type (the HIV strain susceptible to all drugs).
  - Fold change is the ratio of the drug concentration needed to inhibit the isolate.
- The latter columns, with P as a prefix, are the positions of the amino acids in the protease. 
  - '-' indicates consensus.
  - '.' indicates no sequence.
  - '#' indicates an insertion. 
  - '~' indicates a deletion;.
  - '*' indicates a stop codon
  - a letter indicates one letter Amino Acid substitution. 
  - two and more amino acid codes indicates a mixture. 

Import this dataset into your notebook, view the top few rows of the data and respond to these questions:

What are the variables?

What are the observations?

What is the observational unit?

What makes this dataset untidy?

### Task 2: Task 3c from the practice notebook

Use the data retreived from task 3b, generate a data frame containing a Tidy’ed set of values for drug concentration fold change. Be sure to:

- Remove the all columns but the SeqID and the protease inhibitors.
- Tidy the data and set the column names as ‘SeqID’, ‘Drug’ and ‘Fold_change’.
- Order the data frame first by sequence ID and then by Drug name
- Reset the row indexes
- Display the first 10 elements.

### Task 3: Tidy everything
In Task 2 above we only tidied up the drug fold change. But, now let's tidy up the rest of the tables:
+ Create a separate tidy table for the other observation units.
+ For the amion acid position variant table be sure to remove the 'P' from the amino acid position and order the rows by SeqID then by position

## Exercise 2:  More Tidy Practice

Let's revisit the weather data from the Tidy paper which contains the daily weather records for five months in 2010 for the MX17004 weather station in Mexico. Each day of the month has its own column (e.g. d1, d2, d3, etc.).  The example data only provides the first 8 days. Run the following code to get the data into the notebook:

In [ ]:
data = [['MX17004',2010,1,'tmax',None,None,None,None,None,None,None,None],
        ['MX17004',2010,1,'tmin',None,None,None,None,None,None,None,None],
        ['MX17004',2010,2,'tmax',None,27.3,24.1,None,None,None,None,None],
        ['MX17004',2010,2,'tmin',None,14.4,14.4,None,None,None,None,None],
        ['MX17004',2010,3,'tmax',None,None,None,None,32.1,None,None,None],
        ['MX17004',2010,3,'tmin',None,None,None,None,14.2,None,None,None],
        ['MX17004',2010,4,'tmax',None,None,None,None,None,None,None,None],
        ['MX17004',2010,4,'tmin',None,None,None,None,None,None,None,None],
        ['MX17004',2010,5,'tmax',None,None,None,None,None,None,None,None],
        ['MX17004',2010,5,'tmin',None,None,None,None,None,None,None,None]]
headers = ['id','year','month','element','d1','d2','d3','d4','d5','d6','d7','d8']
weather = pd.DataFrame(data, columns=headers)
weather

What makes this dataset untidy?

The solution for how to tidy this data is in the notebook from Lesson 5. However, we're going to try a slightly different approach. It uses the same steps but in a different order.

First melt the data appropriately to get the day as its own column.  Name the melted dataframe `weather_melted`. Remove the `d` from the beginning of the day and convert it to an integer. Print the first 5 rows:

Now that we have the day melted, next, pivot so that we have two variables tmax and tmin as their own columns. Name the resulting dataframe `weather_pivoted`.  Print the top few rows.

Notice that we mave multi-level indexing. Reduce this to a typical one-level index using the `reset_index()` function.

Notice, however, we still have MultiIndexing on the column.  We can remove this by simply resetting the column names.

Finally, let's convert the year, month and day to a datetime object and store it in a new `date` column.

## Exercise 3: More Tidy Practice
Consider the following billboard dataset described in the Tidy paper.  This dataset contains the weekly rank of songs from the moment they enter the Billboard Top 100 to the subsequent 75 weeks.  First load the data. You'll find it in the data directory here:  `data/billboard.csv`.  Save the data with the name `billboard`. List the top 10 lines:

Do a quick review of the data
+ List the columns.
+ List the data types.
+ Are there missing values?  Should we worry about missing values?
+ Are there duplicates?  Should we worry about any duplcates?
+ What fields are meant to be categorical?  And for those check the categories to make sure there is nothing unexpected there.

What makes this data untidy?

Let's tidy this data into a variable named `billboard_tidy`

Perform the following:
1. Remove rows with missing values
2. Convert the week to an actual number
3. Convert the rank column to an integer
4. Convert date.entered to a datetime object
5. Convert date.peaked to a datetime object

Rather than have a week number, let's use that to calculate the actual date.  We have the `date.entered` value, and we can calucate the actual date for each week using that date and adding the change in time for the number of weeks. We can do this using the [pd.to_timedelta()](https://pandas.pydata.org/docs/reference/api/pandas.to_timedelta.html) function. This function calculates a numeric value representing a span of time (seconds, minutes, days, weeks, etc).  In our case we need to calculate the range of time that passes for the given number of weeks.